body {
    background-color: rgb(238, 238, 238);
}

.card {
    display: block;
    background-color: rgb(255, 255, 255);
}

.picture {
    width: 100%;
    height: auto;
    position: absolute;
}

.card button {
    position: relative;
    left: 32em;
    background-color: rgb(0, 153, 0) ;
}

.card button a {
    text-decoration: none;
}