.footer,
.copyright {
    background-color: #171720;
    color: white;
    padding: 2em 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    gap: 6em;
}

.footer .container .info {
    display: flex;
    gap: 6em;

}

.footer .container h3{
    font-weight: normal;
    font-size: 2em;
    padding: 1em 0;
}

.footer .container p {
    color: grey;
    line-height: 2;
    font-weight: normal;
    font-size: 1.5em;
    padding: 1em 0;
    max-width: 20em;
    text-transform: uppercase;
}