body {
    background-image: url(../images/poster.jpg);
    background-size: contain;
    background-position: center -5rem;
}

.background  {
    background: rgba(0, 0, 0, 0.4);
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}