nav {
    margin: 0px;
padding: 0px;
background-color: #CCCCCC;
}

ul {
list-style-type: none;
background-color: #444;
text-align: center; 
padding: 0px;
margin: 0px;
}

li  {
font-size: 24px;
line-height: 40px;
height: 40px;
padding: 20px;
display: inline-block;
}

a {
text-decoration: none;
color: #ffffff;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

section {
    margin-left: 20px;
}

h1 {
    font-size: 28px;
}

p {
    font-style: italic;
    font-size: 24px;
}

footer {
    list-style-type: none;
    background-color: #444;
    text-align: center; 
    color: white;
    padding: 0px;
    margin: 0px;
}