* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #eee;
}

.container {
    background-color: black;
    color: white;
    padding: 2em;
    position: absolute;
    top: 50%;
    left:  50%;
    transform: translate(-50%, -50%);
}